	<module>
		<module_name>Account Info</module_name>
		<link_name>accountsearch</link_name>
		<hidden>1</hidden>
		<auth_only>1</auth_only>
		<sort_order>2</sort_order>
		<module_description>Manage account groups and their permissions.</module_description>
		<permissions>ADMIN</permissions>
		<permissions>MANAGE_USERS</permissions>
	</module>

