	<module>
		<module_name>Browse File System</module_name>
		<link_name>browsefilesystem</link_name>
		<hidden>1</hidden>
		<template>blank</template>
		<perm_error></perm_error>
		<auth_only>1</auth_only>
		<module_description>Container for common processing modules</module_description>
	</module>

